body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #FFFF66;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #ffc;
    background-color: #A00000;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.2em;
}

b {
    font-style: italic;
    text-transform: capitalize;
}

li {
    color: black;
    font-style: italic;
}

.toc {
    margin-bottom: 5px
}

table.rtorrent_download_table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: #A00000;
}

table.rtorrent_download_table th {
    border-style: solid;
    border-width: 1px;
    border-color: #A00000;
    color: #ffc;
    background-color: #A00000;
}

table.rtorrent_download_table td {
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #A00000;
}

table.rtorrent_download_table td:first-child {
    text-align: left;
}

a.rtorrent_table_link {
    font-size: 12px;
}